.matchesPage {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.left-column-match {
    width: 45vw;
    margin: 0 auto;
    margin-top: 5vh;
}

.column {
    width: 50%;
}